.head{
    height: 100px;
    width: 100%;
    background-image: url("gatinhos-fofinhos.jpg");
    background-size: cover;
    background-position: center -35px;
    background-repeat: no-repeat;
}

.form-horizontal{
    margin-top: 60px;
}

.texto{
    margin-top: 70px;
}

.cabessa{
    min-height: 92vh;

}

.pezin{
    height: 6vh;
    min-height: 60px;
}

.imagem>.um{
    height: 40px;
}

.imagem>.dois{
    height: 40px;
}